{% extends "dashboard/home.html" %}

{% block container %}
<div class='col-md-10 col-md-push-1 col-md-pull-1'>
{% if products %}
<table class='table'>
<thead>
	<tr>
		<th>Name</th>
		<th>Raw materials</th>
		<th>Business Profile</th>
	</tr>
</thead>
<tbody>
{%for product in products %}
<tr>
	<td>{{ product.name }}</td>
	<td>
	<ul>
	{% for rm in product.productrawmaterial_set.all %}
	<li>{{ rm.raw_material }}</li>
	{% endfor %}
	</ul>
	</td>
	<td><a href="{% url 'business_profile_detail' product.business_profile.pk %}">{{ product.business_profile }}</a></td>
</tr>
{%endfor%}
</tbody>
</table>
{% else %}
<div class='alert alert-warning'>There are no products in the system yet</div>
{% endif %}
</div>
{% endblock %}