{% extends "dashboard/home.html" %}
{% load staticfiles %}


{% block container %}
 <div class='row'>
 	<div class='col-md-1' style='margin-top: 10px;'>
 		<div id='container'></div>
 	</div> 	

	<div class='col-md-2'>
		<span class='label label-info' style='font-size:1.5em;'>Select your costing model</span><br/>

<form role="form" class="form" action="." method="POST">
			{% csrf_token %}
			<p style='margin-top: 1em;'><label for="id_time_rate">Time rate:</label> <select id="id_time_rate" name="time_rate">
			<option value="" selected="selected">---------</option>
			<option value="d">daily</option>
			<option value="w">weekly</option>
			<option value="m">monthly</option>
			</select></p>

<div style="margin-top: 5em;"></div>
<span class='label label-info' style='font-size:1.5em;;'>Enter Rawmaterial</span><br/>
<p  style='margin-top: 1em'><label for="id_name">Name:</label> <input id="id_name" maxlength="50" name="name" type="text"></p>
			<button class="btn btn-default">Submit</button>
		</form>
		{#form.as_p#}
	</div>

	<div class='col-md-2'>	
	</div>

</div>

{% endblock %}