{% extends "dashboard/home.html" %}

{% block container %}
	{% if raw_materials %}
	<table class='table'>
		<thead>
			<th>Raw material Name</th>
			<th>Size</th>
			<th>Cost</th>
		</thead>
		<tbody>
			{% for raw_material in raw_materials %}
			<tr>
				<td>{{ raw_material.name }}</td>
				<td>{{ raw_material.size }}</td>
				<td>{{ raw_material.cost }}</td>
			</tr>
			{% endfor %}
		</tbody>
		
	</table>
	{% else %}
	<div class='alert alert-warning'>
		<p>There are no raw materials for your business profile.
	</div>
	{% endif %}
{% endblock %}