{% extends "dashboard/home.html" %}
{% load staticfiles %}
{% block container %}

<style>

body {
   margin: 0;
   padding: 0;
   color: pink;
}
.tile {
   float: left;
   position: relative;
   width: 20%;
   padding-bottom: 20%;
}

.tile a, .title a:visited, .title a:active{
  color: white;
}
.content {
   position: absolute;
   left: 0.5em;
   right: 0.5em;
   top: 0.5em;
   bottom: 0.5em;
   background-color: #286;
}

@media (max-width: 50em){
  .tile{
     width: 50%;
     padding-bottom: 50%;
  }
}

</style>

<div class=tile>
  <a href="{% url  'costing' %}">
  <div class = content>
  Costing
  </div>
  </a>

</div>

<div class=tile>
  <div class = content>
  inventory
  </div>
</div>

<div class=tile>
  <div class = content>
  report
  </div>
</div>

<div class=tile>
  <div class = content>
  business analysis
  </div>
</div>
{% endblock %}
